html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  background-color: $light-gray;
}

#routes {
  height: 100vh;
}

.background {
  background-color: #000;
  background-image: url("/statics/img/bg.png");
  background-position: center;
  background-size: cover;
  display: table;
  height: 100%;
  width: 100%;
}

.transparent {
  background-color: transparent;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.fs-12 {
  font-size: 0.75rem;
}
.fs-20 {
  font-size: 1.25rem;
}

// sm
@media (max-width: 576px) {
  .mt-sm-10 {
    margin-top: 6rem !important;
  }
}

// md
@media (min-width: 577px) and (max-width: 991px) {
  .mt-md-10 {
    margin-top: 6rem !important;
  }

  .mt-md-20 {
    margin-top: 12rem !important;
  }
}

// lg
@media (min-width: 992px) {

  // size md
  .mt-md-20 {
    margin-top: 12rem !important;
  }
  
  // size lg
  .mt-lg-10 {
    margin-top: 6rem !important;
  }

  .mt-lg-15 {
    margin-top: 9.5rem !important;
  }

  .mt-lg-20 {
    margin-top: 12rem !important;
  }

  .mt-lg-21 {
    margin-top: 13rem !important;
  }

  .mt-lg-22 {
    margin-top: 14rem !important;
  }

  .mt-lg-25 {
    margin-top: 15.5rem !important;
  }

  .pl-lg-10 {
    padding-left: 6rem !important;
  }

  .pl-lg-15 {
    padding-left: 9.5rem !important;
  }

  .pl-lg-20 {
    padding-left: 12rem !important;
  }
}