// Colors
$off-black: #20222b;
$off-white: #a5afd7;
$dark-blue: #333745;
$light-blue: #464b5e;
$purple: #8357c5;
$blue: #3c4251;
$gray: gray;
$dark-gray: #666;
$light-gray: #cccccc;
$white: #fff;
$light-green: #07d159;
$light-red: #eb060c;